<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>sridhar</h1>
    <ul>
      <% cryptoData.forEach(function(crypto) { %>
      <li>
        <%= crypto.code %> - <%= crypto.name %>: <% if (crypto.is_crypto) { %>
        ✅ <% } else { %> ❌ <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
